<!-- navgation -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Digital<span>Life</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="store()">Store</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="phone()" >Phone</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" role="button" aria-expanded="false" (click)="laptop()">Laptop&Tablet </a>
            <li class="nav-item">
              <a class="nav-link " (click)="tv()">Mi TV</a>
            </li>
           <button class="sign" (click)="log()">Sign in</button>
         
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid image">
    <img src="https://i03.appmifile.com/609_operator_in/13/01/2023/a5c8f0be1ff691f51c520d8fa0fb9481.jpg?f=webp" width="100%" height="" alt="" (click)="phone()">
    <div class="para">200Mb+OIS <br>
    <p>From  ₹17,999 </p> 
<button class="btn">Buy Now</button>
    </div>
  </div>
  <!-- products -->
  <div class="container-fluid">
    <div class=" work-list">
      <div class="work ">
          <img src="https://i03.appmifile.com/879_operator_in/05/01/2023/fefd682ceb51baa1990e5a6446322bee.jpg?f=webp"  alt="">
          <div id="div1">
            <p> <span>Best of Smartphones</span> <br>
              Engineered for Speed</p>
              <button class="btn1">Buy now</button>
          </div>
      </div>
      <div class="work">
        <img src="https://i03.appmifile.com/343_operator_in/08/12/2022/2dd5dbdd3a1efdc1ff26b8f67d3def6a.jpg?f=webp" alt="" (click)="tv()">
        <div id="div2">
        <p><span>Xiaomi Smart TV Series</span> <br>
          Vivid Picture Engine | 20W Dolby Audio</p>
          </div>
    </div>
      <div class="work">
          <img src="https://i03.appmifile.com/497_operator_in/11/01/2023/80adfb26ff85de245cab485aa5a5808f.jpg?f=webp" alt="">
      </div>
      <div class="work">
          <img src="https://i03.appmifile.com/634_operator_in/11/01/2023/fc91d68bc1e4e9b41bb6fde51043f2ad.jpg?f=webp" alt="">
      
      </div>
  </div>
</div>
<!-- creating div -->
<div class="container-fluid div12">
  <p class="p1">XIAOMI CARE</p>
   <span><img src="https://i03.appmifile.com/48_operator_in/17/11/2022/786ada679e2e325724eabe2876999875!96x96.png" alt=""></span>
   <span><img src="https://i03.appmifile.com/314_operator_in/17/11/2022/f9e475a37bff4b308e265881090a50ab!96x96.png" alt=""></span>
   <span><img src="https://i03.appmifile.com/101_operator_in/17/11/2022/0f88264f22456edc80f4ddbbab017d9a!96x96.png" alt=""></span>
   <p id="pp1">Mi Extended Warranty ></p>
   <p id="pp2">Mi Screen Protect ></p>
   <p id="pp3">Mi Complete Protect ></p>

</div>
  <!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-light ">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
     
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Company name
          </h6>
          <p>
            Here you can use rows and columns to organize your footer content. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">DigitalLife.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
  
