.h11{
    margin-left:18%;
    position: absolute;
    top: 20%;
}
.p1{
    margin-left: 15%;
    position: absolute;
    top: 35%;
    color: #fff;
    font-size: 28px;
}
.btn1 {
    margin-left: 18%;
    position: absolute;
    top: 78%;
    padding: 5px 40px;
    border-radius: 10px;
    border: 3px solid orange;
    font-size: 19px;
}
.btn1:hover{
    color: orange;
}
.p2{
    margin-left: 15%;
    position: absolute;
    top: 35%;
    color: rgb(9, 8, 8);
    font-size: 28px;
}
.p3{
    margin-left: 55%;
    position: absolute;
    top: 35%;
    color: rgb(9, 8, 8);
    font-size: 28px;
}
.h12{
    margin-left:58%;
    position: absolute;
    top: 20%;  
}
.btn2 {
    margin-left: 58%;
    position: absolute;
    top: 78%;
    padding: 5px 40px;
    border-radius: 10px;
    border: 3px solid orange;
    font-size: 19px;
}
.btn2:hover{
    color: orange;
}
.navbar-brand {
    color: black;
    margin-left: 15px;
    font-size: 30px;
}
.navbar-brand span{
    color:darkorange
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
}
.nav-link{
    margin-left: 30px;
    font-size: 20px;
    color: black;
    cursor: pointer;

}
.effect{
    box-shadow: 0px 0px 5px #999;
}
.effect:hover{
    box-shadow: 10px 10px 5px rgb(172, 168, 168); 
}
.move{
    margin-left: 600px;
    color: orange;
    font-size: 25px;
    border: 1px solid black;
    padding: 0px 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px #999;
}
.move:hover{
    box-shadow: 10px 10px 3px rgb(186, 128, 11); 
}
nav ul li a{
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background:orange;
    position: absolute;
    left: 0;
    bottom: 10px;
    transition: 0.5s;
}
nav ul li a:hover::after{
     width: 100%;
}
.img1{
    width: 80px;
    height: 50px;
}